body{
    background-color: rgb(236, 238, 241);
    font-family: AvenirNext,Avenir,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.main-grid{
    display: grid;
    grid-template-rows: 10% fit-content(35px) fit-content(35px) fit-content(700px) 10%;
}

.sign-in-left{
    display: grid;
    grid-template-columns: 67% 33%;
    float: right;
    width: 350px;
}

.sign-in-left div{
    margin-right:3px;
}

.sign-in-label{
    width: 100%;
}

.sign-in-label p{
    color: rgb(80, 80, 80);
    line-height: 18px;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-align: right;
}

.sign-in-label a{
    text-decoration: none;
}

.sign-in-label a p{
    color: rgb(0, 119, 197);;
    line-height: 18px;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-align: right;
    width: 100%;
}

.sign-in-button button{
    background-image: url(https://plugin.intuitcdn.net/identity-authn-core-ui/images/icon-whitelock@3x-76f33cec.png);
    background-size: 10px auto;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 20px;
    cursor: pointer;
    font-size: 13.5px;
    font-weight: 400;
    height: 34px;
    width: 103px;
    margin: 0px 0px 0px 8px;
    padding-left: 20px;
    text-align: center;
    background-color: rgb(0, 119, 197);
    color: whitesmoke;
    border-radius: 5px;
    border: solid 0.5px #585858;
}

.logo{
    text-align:center;
}

.logo img{
    width: 118px;
    height: 35px;
    object-fit: none;
    object-position: 0px 0px;
}

.icons{
    margin-top: 20px;
    align-items:center;
    display:grid;
    justify-content: center;
}

.icons ul{
    margin: 0;
    padding: 0;
    display:inline;
}

.icons li{
    display:inline;
}

.mint-favicon{
    background-repeat: no-repeat;
}

.icon-1 button{
    background-image:url("https://plugin.intuitcdn.net/identity-authn-core-ui/images/mint-favicon-4accf8f4.svg");
    width: 23px;
    height: 23px;
    background-color: transparent;
    border:none;
    background-repeat: no-repeat;
}

.mint-favicon button{
    margin-right: 4px;
    width: 23px;
    height: 23px;
    background-color: transparent;
    border:none;
    background-repeat: no-repeat;
}

.icon-2 button{
    background-image:url("https://plugin.intuitcdn.net/identity-authn-core-ui/images/quickbooks-favicon@2x-c89488e8.svg");
}

.icon-3 button{
    background-image:url("https://plugin.intuitcdn.net/identity-authn-core-ui/images/tt-favicon@2x-fbd64ab8.svg");
}

.mint-text button{
    background-color: transparent;
    border:none;
    background-repeat: no-repeat;
    margin-right: 9px;
}

.text-1 button{
    background-image:url("https://plugin.intuitcdn.net/identity-authn-core-ui/images/mint-text-0fa36974.svg");
    width: 37px;
    height: 20px;
}

.text-2 button{
    background-image:url("https://plugin.intuitcdn.net/identity-authn-core-ui/images/quick-books-text-db6c72bf.svg");
    width: 98px;
    height: 22px;
}

.text-3 button{
    background-image:url("https://plugin.intuitcdn.net/identity-authn-core-ui/images/turbo-tax-text-9bc025c5.svg");
    width: 74px;
    height: 22px;
}