body{
    background-color: rgb(236, 238, 241);
    font-family: AvenirNext,Avenir,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.main-grid{
    display: grid;
    grid-template-rows: 10% 10% 10% fit-content(700px) 10%;
}

.sign-in-left{
    display: grid;
    grid-template-columns: 50% 50%;
    float: right;
    width: 400px;
}

.sign-in-left div{
}

.sign-in-label{
    width: 100%;
}

.sign-in-label p{
    color: rgb(80, 80, 80);
    line-height: 18px;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-align: right;
}

.sign-in-label a{
    text-decoration: none;
}

.sign-in-label a p{
    color: rgb(0, 119, 197);;
    line-height: 18px;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-align: right;
    width: 100%;
}

.sign-in-button button{
    background-image: url(https://plugin.intuitcdn.net/identity-authn-core-ui/images/icon-whitelock@3x-76f33cec.png);
    background-size: 10px auto;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;
    cursor: pointer;
    font-size: 13.5px;
    font-weight: 400;
    height: 34px;
    width: 103px;
    margin: 0px 0px 4px 2px;
    text-align: center;
    background-color: rgb(0, 119, 197);
    color: whitesmoke;
    border-radius: 5px;
}